// === MIXIN ===

@mixin scroll {
  &::-webkit-scrollbar {
    width: $base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark-02;
    border-radius: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 $base $color-white-05;
    border-radius: none;
    height: $base;
    background-color: $color-white-09;
  }
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

// === / MIXIN ===

// === FUNCTIONS ===

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===

$base: rem(5px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$fs-xxs: rem(11px);
$fs-xs: rem(12px);
$fs-s: rem(13px);
$fs-m: rem(14px);
$fs-l: rem(16px);
$fs-xl: rem(22px);
$fs-xxl: rem(26px);
$fs-xxxl: rem(32px);
$fs-xxxxl: rem(55px);

$transition: 0.3s;
$transition-01: 0.1s;
$transition-02: 0.2s;

$color-dark: rgba(18, 18, 18, 1);
$color-dark-02: rgba(18, 18, 18, 0.2);
$color-dark-03: rgba(18, 18, 18, 0.3);
$color-dark-04: rgba(18, 18, 18, 0.4);
$color-dark-05: rgba(18, 18, 18, 0.5);
$color-dark-06: rgba(18, 18, 18, 0.6);
$color-dark-07: rgba(18, 18, 18, 0.7);
$color-dark-08: rgba(18, 18, 18, 0.8);
$color-dark-09: rgba(18, 18, 18, 0.9);
$color-white: rgba(255, 255, 255, 1);
$color-white-02: rgba(255, 255, 255, 0.2);
$color-white-03: rgba(255, 255, 255, 0.3);
$color-white-04: rgba(255, 255, 255, 0.4);
$color-white-05: rgba(255, 255, 255, 0.5);
$color-white-06: rgba(255, 255, 255, 0.6);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-white-08: rgba(255, 255, 255, 0.8);
$color-white-09: rgba(255, 255, 255, 0.9);
$color-orange: rgba(243, 129, 32, 1);
$color-orange-02: rgba(243, 129, 32, 0.2);
$color-orange-03: rgba(243, 129, 32, 0.3);
$color-orange-04: rgba(243, 129, 32, 0.4);
$color-orange-05: rgba(243, 129, 32, 0.5);
$color-orange-06: rgba(243, 129, 32, 0.6);
$color-orange-07: rgba(243, 129, 32, 0.7);
$color-orange-08: rgba(243, 129, 32, 0.8);
$color-orange-09: rgba(243, 129, 32, 0.9);
$color-orange-light: rgba(253, 156, 73, 1);
$color-green: rgba(18, 200, 104, 1);
$color-green-02: rgba(18, 200, 104, 0.2);
$color-green-03: rgba(18, 200, 104, 0.3);
$color-green-04: rgba(18, 200, 104, 0.4);
$color-green-05: rgba(18, 200, 104, 0.5);
$color-green-06: rgba(18, 200, 104, 0.6);
$color-green-07: rgba(18, 200, 104, 0.7);
$color-green-08: rgba(18, 200, 104, 0.8);
$color-green-09: rgba(18, 200, 104, 0.9);
$color-green-light: rgba(33, 226, 124, 1);

$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;

$breakpoint-xxxs-max: $breakpoint-xxs-min - 1px;
$breakpoint-xxs-max: $breakpoint-xs-min - 1px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$calcWidth: 100%;

$total-lines: 4;
$left-offset: $base * 6;
$clip-height: $base * 10;
$line-height: $clip-height - $base;

// === / VARIABLES ===
