@import '../../sass/Constants.scss';

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 4;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 20%;
  background-color: $color-white;
  text-align: center;
}

.aside-item {
  padding: $base * 8;
  box-shadow: 0 $base $base * 5 $color-dark-03;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: $base * 3;
  flex-basis: 44%;
}

.slider-buttons__wrapper {
  display: flex;
  align-items: center;
  gap: $base * 3;
}

.slider-buttons {
  display: flex;
  align-items: center;
  gap: $base;
}

.slider-button {
  width: $base * 2;
  height: $base * 2;
  border-radius: 50%;
  border: 2px solid $color-green;

  &:nth-child(2) {
    border-color: $color-green-07;
  }

  &:nth-child(3) {
    border-color: $color-green-05;
  }

  &:nth-child(4) {
    border-color: $color-green-03;
  }
}

.primary-buttons {
  display: flex;
  align-items: center;
  column-gap: $base * 3;
}

.click__wrapper {
  display: flex;
  align-items: flex-start;
  gap: $base * 3;
  width: 44%;
  margin-top: $base * 2;
}

.click__description {
  text-align: center;
}

.click {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $base * 5;
  min-height: $base * 5;
  background-image: url('../../images/icons/click.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
