@import '../../sass/Constants.scss';

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $base * 4;
}

.iframe__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: $base * 2;
  border: $base solid $color-orange;
  border-radius: $base * 4;
}

.iframe {
  width: 100%;
  height: $base * 63;
  margin: auto;
  border-radius: $base * 3;
}
