@import '../../../sass/Constants.scss';

.primary-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $base * 3;
  max-width: $base * 75;
  max-height: $base * 20;
  padding: $base * 6;
  border: none;
  border-radius: $base * 10;
  color: $color-white;
  cursor: pointer;
}

.arrow {
  min-width: $base * 5;
  min-height: $base * 5;
  background-image: url('../../../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.arrow-right {
  min-width: $base * 5;
  min-height: $base * 5;
  background-image: url('../../../images/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bg-green {
  background-color: $color-green;
  transition: $transition-02;

  &:hover {
    background-color: $color-green-light;
    transition: $transition-02;
  }
}

.bg-orange {
  background-color: $color-orange;
  transition: $transition-02;

  &:hover {
    background-color: $color-orange-light;
    transition: $transition-02;
  }
}
