@import '../../sass/Constants.scss';

.toast {
  position: fixed;
  top: 130%;
  left: 5%;
  z-index: 3;
  width: 20vw;
  height: max-content;
  margin: auto;
  padding: $base * 6;
  background: rgb(237, 242, 245);
  background: -moz-linear-gradient(90deg, rgba(237, 242, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(
    90deg,
    rgba(237, 242, 245, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(90deg, rgba(237, 242, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edf2f5",endColorstr="#ffffff",GradientType=1);
  border-radius: $base * 7;
  text-align: center;
  opacity: 1;
  transition: $transition;
}

.toast-active {
  top: 75%;
  opacity: 1;
  transition: $transition;
}

.toast__wrapper {
  position: relative;

  .button-navigation {
    top: -$base * 3;
    right: -$base * 3;
    min-width: $base * 3;
    min-height: $base * 3;
  }
}
