@import '../../../sass/Constants.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 3;

  @media (max-width: $breakpoint-md-min) {
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 $base;
  background-color: $color-white-02;
  transition: $transition-01;

  @media (max-width: $breakpoint-md-min) {
    justify-content: space-between;
    flex-direction: row-reverse;
    height: auto;
    padding: $base 0;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $base * 2;

  @media (max-width: $breakpoint-md-min) {
    justify-content: flex-end;
    flex-direction: row;
    gap: $base;
    width: 100%;
    margin-right: $base;
  }
}

.nav__list-secondary {
  position: absolute;
  bottom: $base;
  gap: $base;

  @media (max-width: $breakpoint-md-min) {
    position: static;
    justify-content: center;
    flex-direction: row-reverse;
    width: auto;
    margin-left: $base;
  }
}

.nav__list-item {
  width: $base * 10;
  height: $base * 10;

  @media (max-width: $breakpoint-xs-min) {
    width: $base * 8;
    height: $base * 8;
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: $base * 7;
    height: $base * 7;
  }
}

.nav__list-item__link {
  display: block;
  width: $base * 10;
  height: $base * 10;
  border: 0.125rem solid $color-dark;
  border-radius: 50%;
  background-color: $color-white;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: $transition-01;

  @media (max-width: $breakpoint-xs-min) {
    width: $base * 8;
    height: $base * 8;
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: $base * 7;
    height: $base * 7;
  }
}

.home {
  background-image: url('../../../images/icons/navigation/main.svg');
  transition: $transition-01;
}

.about {
  background-image: url('../../../images/icons/navigation/about.svg');
  transition: $transition-01;
}

.portfolio {
  background-image: url('../../../images/icons/navigation/portfolio.svg');
  transition: $transition-01;
}

.certificates {
  background-image: url('../../../images/icons/navigation/certificates.svg');
  transition: $transition-01;
}

.contacts {
  background-image: url('../../../images/icons/navigation/contacts.svg');
  transition: $transition-01;
}

.en {
  background-image: url('../../../images/icons/navigation/en.svg');
  transition: $transition-01;
}

.ru {
  background-image: url('../../../images/icons/navigation/ru.svg');
  transition: $transition-01;
}

.dark {
  background-color: $color-dark;
  background-image: url('../../../images/icons/navigation/dark.svg');
  transition: $transition-01;
}

.light {
  background-color: $color-white;
  background-image: url('../../../images/icons/navigation/light.svg');
  transition: $transition-01;
}
