@import '../../../sass/Constants.scss';

.header {
  margin-top: $base * 9;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: $color-dark;
  transition: $transition-01;
}

.nav-item__link {
  font-size: $fs-m;
  font-weight: $fw-medium;
  letter-spacing: 0.05em;
  color: $color-dark;
  text-transform: uppercase;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 5;
  height: $base * 5;
  background-image: url('../../../images/icons/navigation/home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.contacts {
  margin-top: $base * 7;
  border-top: 0.063rem solid $color-dark-02;
  text-align: center;
}

.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base * 2;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 9;
  height: $base * 9;
  border-radius: 50%;
  background-color: $color-white;
  font-size: $fs-xxs;
  font-weight: $fw-semi-bold;
  letter-spacing: 0.04em;
  text-align: center;
  color: $color-green;
}
