@import '../../sass/Constants.scss';

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 27.7vw;
  height: 53.3vh;
  margin: auto;
  padding: $base * 14 $base * 13 $base * 19 $base * 13;
  background-color: $color-white;
  border-radius: $base * 7;
  text-align: center;
}

.modal-active {
  display: block;
}

.modal__shadow {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: $color-dark-06;
}

.modal__shadow-active {
  display: block;
}

.modal__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .h2 {
    font-size: $base * 6;
    font-weight: $fw-medium;
    letter-spacing: 0.02em;
    line-height: $base * 6;
    text-align: center;
  }

  .primary-button {
    justify-content: center;
    width: 100%;
  }

  .h3 {
    text-transform: none;
  }
}

.modal__img {
  display: block;
  width: 60%;
  height: auto;
  border-radius: $base * 4;
  border: $base solid $color-orange;

  @media (max-width: $breakpoint-md-min) {
    width: 90%;
  }
}

.button-navigation {
  @include montserrat;
  position: absolute;
  top: -$base * 8;
  right: -$base * 8;
  z-index: 2;
  display: block;
  min-width: $base * 8;
  min-height: $base * 8;
  border: none;
  outline: none;
  background-color: transparent;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    filter: brightness(0.2);
  }
}

.button-navigation__close {
  background-image: url('../../images/modal/modal-close.svg');
}
