@import '../../../sass/Constants.scss';

.button-navigation {
  @include poppins;
  position: absolute;
  top: -$base * 5;
  left: calc(100% - ($base * 5));
  display: block;
  width: $base * 10;
  height: $base * 10;
  border-radius: 50%;
  border: 0.125rem solid $color-orange;
  background-color: $color-white;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  transition: $transition-01;

  &:hover {
    background-color: $color-orange;
    transition: $transition-01;
  }
}

.button-navigation__close {
  background-image: url('../../../images/modal/close.svg');
}
