@import './sass/Constants.scss';

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./fonts/#{$file_name}.woff') format('woff'),
      url('./fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './sass/Fonts.scss';

// === / FONTS ===

// === COMMON ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body {
  @include montserrat;
  @include scroll;
  position: relative;
  width: 100%;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-dark;
  scroll-behavior: smooth;
  transition: $transition-01;
}

.body__overflow {
  overflow-y: hidden;
}

.wrapper {
  width: 82vw;
  max-width: $base * 314;
  margin: 0 auto;

  @media (max-width: $breakpoint-lg-min) {
    width: 97vw;
  }
}

.h1 {
  @include montserrat;
  font-size: calc((100vw - 20.063rem) / (120 - 20.063) * (3.438 - 1.125) + 1.125rem);
  font-weight: $fw-light;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calc((100vw - 15rem) / (20 - 15) * (1.125 - 1) + 1rem);
  }
}

.h2 {
  @include montserrat;
  font-size: calc((100vw - 20.063rem) / (120 - 20.063) * (2 - 0.813) + 0.813rem);
  font-weight: $fw-regular;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calc((100vw - 15rem) / (20 - 15) * (0.813 - 0.688) + 0.688rem);
  }
}

.h3 {
  @include montserrat;
  font-size: calc((100vw - 20.063rem) / (120 - 20.063) * (0.875 - 0.625) + 0.625rem);
  font-weight: $fw-semi-bold;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calc((100vw - 15rem) / (20 - 15) * (0.625 - 0.5) + 0.5rem);
  }
}

.h4 {
  @include montserrat;
  font-size: calc((100vw - 20.063rem) / (120 - 20.063) * (0.875 - 0.625) + 0.625rem);
  font-weight: $fw-regular;

  @media (max-width: $breakpoint-xxs-min) {
    font-size: calc((100vw - 15rem) / (20 - 15) * (0.625 - 0.5) + 0.5rem);
  }
}

a {
  text-decoration: none;
}

.active {
  background-color: $color-orange;
  transition: $transition-01;
}

.fw-light {
  font-weight: $fw-light;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.bold {
  font-weight: $fw-bold;
}

.dotted {
  padding-bottom: $base;
  font-size: $fs-xs;
  letter-spacing: 0.04em;
  border-bottom: 0.125rem dotted $color-green;
  transition: $transition-01;

  &:hover {
    transform: scale(1.05);
    transition: $transition-01;
  }
}

.color-green {
  color: $color-green;
}

.color-orange {
  color: $color-orange;
}

.cursor-pointer {
  cursor: pointer;
}

// === / COMMON ===
